@import url(../vendor/normalize.css);
@import url(../vendor/normalize__xtra.css);
@import url(../vendor/fonts.css);

@import url(../blocks/page.css);
@import url(../blocks/header.css);

.list-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 10px;
}

.pokemon-list {
  background-color: white;
  box-shadow: var(--drop-shadow-inner);
  border-radius: 0.75rem;
  overflow-y: auto;
  height: 80vh;
  padding: 10px;
  max-width: 100%;
}

.pokemon-list::-webkit-scrollbar {
  display: none;
}

/* ----
.list-item {
  max-width: 240px;
  min-width: 160px;
  flex-grow: 1;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.img-sprite {
  image-rendering: pixelated;
  width: 100%;
  transition: 0.17s ease-in;
  cursor: pointer;
}

.name-wrap {
  border-radius: 7px;
  background-color: #aaa;
  padding: 24px 8px 4px 8px;
  color: var(--grayscale-dark);
  margin-top: -18px;
}
/*
*/
.list-item {
  min-width: 180px;
  border: 1px solid #ddd;
  aspect-ratio: 5/6;
  display: grid;
  position: relative;
  transition: 0.12s ease-in;
  flex-grow: 1;
  border-radius: 10px;
}

.list-item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px 3px #ddd;
}

.img-sprite {
  image-rendering: pixelated;
  width: 100%;
  z-index: 1000;
  position: absolute;
  transition: 0.22s ease-in;
}

.list-item:hover .img-sprite {
  transform: scale(1.12) translateY(-8px);
}

.number-wrap {
  position: absolute;
  top: 5px;
  left: 5px;
}

.name-wrap {
  position: absolute;
  bottom: 0;
  height: 40%;
  width: 100%;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 0 0 10px 10px;
}

.body3-fonts {
  position: absolute;
  bottom: 30%;
  font-family: "Pixelify Sans";
  font-weight: 400;
  font-size: 22px;
  text-rendering: optimizeSpeed;
}

.list-item:hover .body3-fonts {
  transform: translateY(4px);
  transition: 0.16s ease-in;
}
